/* ============================ about-section ================================*/
#about {
  background: var(--lightblue);
  display: flex;
  justify-content: center;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100vh;
  /* padding: 5em 0; */

  .about__text {
    padding: 2em;
  }

  .about__img img {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  #about {
    padding: 3em 0;
  }

  .about {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: auto;
  }

  .about__img img {
    width: auto;
    max-width: 400px;
  }
}

@media screen and (max-width: 570px) {
  .about__img img {
    max-width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .about__img img {
    max-width: 250px;
  }
}
