/* ============================== contact ====================================*/
.contact-section {
  background: #202325;
  padding: 120px 120px 130px 120px;

  &-head {
    font-family: var(--raleway);
    margin-bottom: 1em;
    font-size: 2.2em;
    color: var(--primary);
  }

  &-subtitle {
    font-family: var(--raleway);
    margin-bottom: .5em;
    font-size: 1.8em;
    color: var(--gray);
  }
}

@media screen and (max-width: 768px) {
  .contact-section {
    padding: 1em;

    &-head {
      font-size: 1.8em;
      margin-top: 1em;
    }

    &-subtitle {
      font-size: 1.4em;
    }
  }
}
