/* ============================== contact ====================================*/
.contact {
  background: var(--whitesmoke);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__box {
    h4 {
      font-family: var(--open-sans);
      font-size: 1.8em;
      color: var(--gray);
      font-weight: 400;
      margin-bottom: 2em;
    }
  }
}

.contact__box--form {
  /* padding: 3em; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.columns {
  display: flex;
  width: 100%;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-gap: 10px; */
  /* flex: 1 1 auto; */
}

[type=email], [type=text] {
  border: 2px solid var(--secondary);
  background: var(--whitesmoke);
  font-family: var(--open-sans);
  color: var(--black);
  box-shadow: none;
  font-size: 1.2em;
  padding: .4em 1em;
  margin: 1em 0;
  outline: none;
  width: 100%;
  transition: .3s ease all;

  &:focus {
    border: var(--primary) 2px solid;
    box-shadow: none;
  }

  &::placeholder {
    font-family: var(--open-sans);
    color: var(--gray);
  }
}

[type=email] {
  margin-left: .3em;
}

[type=text] {
  margin-right: .3em;
}

select {
  border: 2px solid var(--secondary);
  background: var(--whitesmoke);
  font-family: var(--open-sans);
  color: var(--gray);
  font-size: 1.125em;
  padding: .5em;
  margin: 1em 0;
  width: 100%;
  outline: none;
}

textarea {
  border: 2px solid var(--secondary);
  background: var(--whitesmoke);
  width: calc(100% - 1.2em);
  padding: .5em;
  margin: .5em 0;
  font-family: var(--open-sans);
  font-size: 1.2em;
  outline: none;
  transition: .3s ease all;

  &:focus {
    border: var(--primary) 2px solid;
  }
}
