/* ============================== footer =====================================*/
.footer {
  padding: 5em 0;
  background: white;
  text-align: center;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em;

  .logo-2 {
    max-width: 120px;
  }
}

.icon__box a {
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: var(--raleway);
  font-weight: bold;
  color: var(--black);
  text-decoration: none;
  margin: .5em .8em;
  transition: .3s ease all;

  &:hover {
    color: var(--primary);
  }
}

.copyright {
  font-family: var(--open-sans);
  font-size: .8em;
  margin-top: 3em;
  color: var(--gray);
}

@media screen and (max-width: 640px) {
  .line {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;

    .logo-2 {
      margin-top: 1em;
    }
  }

  .icon__box a {
    display: block;
    margin: 1.5em 0;
  }
}
