/* ========================== hero-wrapper ===================================*/
#home {
  background: url('../../dist/images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-wrapper {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  grid-gap: 15px;
  margin: 3em;

  &__text {
    /* margin: 1em; */
    text-align: left;

    &--cta {
      text-align: center;
    }
  }

  &__img img {
    width: 530px;
  }
}

/* arrow scroll */
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: var(--black);
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero-wrapper {
    min-height: 100vh;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    grid-gap: 10px;
    margin: 1em;

    &__text {
      margin-top: 2em;
      text-align: left;
      font-size: 1em;

      &--cta {
        text-align: center;
      }
    }

    &__img img {
      width: auto;
      max-width: 250px;
    }
  }

  ul.pagination {
    display: none;
  }

  #section05 a {
    padding-top: 40px;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .hero-wrapper__text {
    margin-top: 6em;
  }
}

/* iphone 5/SE */
@media screen and (max-width: 320px) {
  .hero-wrapper__text {
    margin-top: 6em;
  }
}

/* only for device between 640px and 768px */
@media screen and (min-width: 640px) and (max-width: 768px) {
  .hero-wrapper {
    &__img img {
      max-width: 350px;
    }
  }

  .btn {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.2em;
  }

  .work .work__text--subtitle {
    font-size: 1.2em;
  }

  .more-btn {
    font-size: 1em;
  }

  .logo {
    width: 100px;
  }

  .about__img img {
    width: auto;
    max-width: 500px;
  }
}
