/* ========================== hero-wrapper ===================================*/
#home {
  background: url('../../dist/images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  grid-gap: 15px;
  margin: 3em;

  &__text {
    /* margin: 1em; */
    text-align: left;

    &--cta {
      text-align: center;
    }
  }

  &__img img {
    width: 530px;
  }
}

/* arrow scroll */
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: var(--black);
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero-wrapper {
    min-height: 100vh;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    grid-gap: 10px;
    margin: 1em;

    &__text {
      margin-top: 2em;
      text-align: left;
      font-size: 1em;

      &--cta {
        text-align: center;
      }
    }

    &__img img {
      width: auto;
      max-width: 250px;
    }
  }

  ul.pagination {
    display: none;
  }

  #section05 a {
    padding-top: 40px;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .hero-wrapper__text {
    margin-top: 6em;
  }
}

/* iphone 5/SE */
@media screen and (max-width: 320px) {
  .hero-wrapper__text {
    margin-top: 6em;
  }
}

/* only for device between 640px and 768px */
@media screen and (min-width: 640px) and (max-width: 768px) {
  .hero-wrapper {
    &__img img {
      max-width: 350px;
    }
  }

  .btn {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.8em;
  }

  p {
    font-size: 1.2em;
  }

  .work .work__text--subtitle {
    font-size: 1.2em;
  }

  .more-btn {
    font-size: 1em;
  }

  .logo {
    width: 100px;
  }

  .about__img img {
    width: auto;
    max-width: 500px;
  }
}

/* button effect */
.button--1 .button__bg,
.button--1 .button__bg:after,
.button--1 .button__bg:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px; }

.button--1 {
  margin: 1em;
}

.button--1, .button--1 .button__bg {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  letter-spacing: 0.1em;
  color: white;
  padding: 1.5em 2.5em;
  text-transform: uppercase;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out; }
  .button--1:hover, .button--1 .button__bg:hover, .button--2:hover, .button--4:hover, .button--4 .button__bg:hover, .button--5:hover, .button--6:hover, .button--7:hover, .button--8:hover, .button--9:hover, .button--10:hover {
    background-color: #2CD892;
    color: #fff; }
  .button--1:focus, .button--1 .button__bg:focus, .button--2:focus, .button--4:focus, .button--4 .button__bg:focus, .button--5:focus, .button--6:focus, .button--7:focus, .button--8:focus, .button--9:focus, .button--10:focus {
    outline: none;
    color: #fff; }

.safari .button, .safari
.button__bg {
  -webkit-filter: none !important;
  filter: none !important; }

.button--1 {
  position: relative;
  background: none;
  z-index: 0; }
  .button--1:hover {
    background: none; }
  .button--1:hover .circle {
    background: #2CD892; }
  .button--1:hover .button__bg {
    background: #2CD892; }
  .button--1 .button__container {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    pointer-events: none;
    z-index: -1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
  .button--1 .button__bg, .button--1 .circle {
    -webkit-animation: hue-rotate 10s linear infinite;
    -moz-animation: hue-rotate 10s linear infinite;
    animation: hue-rotate 10s linear infinite; }
  .button--1 .button__bg {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .button--1 .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #222;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out; }
    .button--1 .circle.top-left {
      top: 40%;
      left: 27%; }
    .button--1 .circle.bottom-right {
      bottom: 40%;
      right: 27%; }

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0); }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg); } }

/*# sourceMappingURL=main.css.map */